*.iml
.DS_Store

/SeaShellCalculator/.gradle
/SeaShellCalculator/.kotlin
/SeaShellCalculator/.idea
/SeaShellCalculator/local.properties
/SeaShellCalculator/app/build

captures
.externalNativeBuild
.cxx

/API/.env
/API/node_modules
/API/package-lock.json
/API/package.json
/API/public/config.js